@font-face {
  font-family: 'MADE Likes Slab';
  src: url('assets/font/MADE-Likes-Slab.otf');
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html,
body {
  overflow-x: hidden;
  height: 100%;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  background-color: #f7e2cc;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  overflow: hidden;
}

body .loader img {
  height: 16rem;
  width: 16rem;
}

body {
  background-color: #f7e2cc;
  color: #000000;
  font-family: 'MADE Likes Slab';
}

main {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./assets/bg.webp');
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0px 50px;
  overflow: hidden;
}

.nanas-words-section img {
  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  transition: opacity 0.5s ease-in-out;
  opacity: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.nanas-words-section {
  position: relative;
  width: 78.455rem;
}

.hero-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.language-container {
  display: flex;
  justify-content: flex-end;
  height: 4.188rem;
  margin-top: 2rem;
}

.language-selector {
  position: relative;
  width: 6.813rem;
  align-self: flex-end;
  /* margin-right: 1rem; */
  margin-right: 7rem;
  margin-bottom: 1.25rem;
  cursor: pointer;
  transition: none;
  pointer-events: auto !important;
  z-index: 2;
}

.vinyl-section {
  position: relative;
  width: 78.455rem;
  height: 74.419rem;
  z-index: 1;
}

.vinyl-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url('./assets/vinyl_ru.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.vinyl-img:lang(en) {
  background-image: url('./assets/vinyl_eng.webp');
}

.playing-widget {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* width: 988px; */
  width: 1023.45px;
}

.playing-widget-container {
  width: 423.45px;
  height: 551.24px;
}

.animation-playing-active {
  display: flex;
}

.animation-playing-desactive {
  display: none;
}

.playing-img,
.playing-video {
  position: relative;
  /* top: 20px; */
  /*  top: -18px;
  left: 50px; */
}
.playing-video {
  width: 423.45px;
  height: 551.24px;
  top: -20px;
  /* left: 41px; */
  left: 56px;
  transform: rotate(-4.01deg);
  transition: 2s ease-in-out;
}

.playing-img {
  /*  width: 415.64px; */
  width: 415.64px;
  height: 544.22px;
  /*  top: -18px; */
  top: -13px;
  /* left: 50px; */
  /*  left: 67px; */
  left: 64px;
  transform: rotate(-1deg);
  transition: 2s ease-in-out;
  /*  left: 50px; */
}

/* PLAYER CSS */
.playing-tools {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 20px;
  /* margin-bottom: 1.6rem; */
  margin-bottom: 1.9rem;
  max-width: 600px;
  width: 31.749rem;
  transform: rotate(-2deg);
  right: -85px;
}

.playing-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.25rem;
}

.playing-button {
  background-color: transparent;
  border: none;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
}

.play {
  width: 10.83rem;
  height: 10.824rem;
}

.stop {
  width: 10.668rem;
  height: 10.665rem;
}

.pause {
  width: 10.824rem;
  height: 10.827rem;
}

/* .play-icon,
.stop-icon,
.pause-icon {
  fill: #1d1d1d;
  transform-origin: center;
} */
.icon path {
  fill: #1d1d1d;
  transform-origin: center;
}

button:disabled > svg > .play-icon > path,
button:disabled > svg > .stop-icon > path,
button:disabled > svg > .pause-icon > path {
  /* fill: #6d6152; */
  fill: #463b3a;
}

audio {
  display: none;
  opacity: 0.75;
}

#div-player-container {
  overflow: hidden;
}

#div-eq-container {
  /*  height: 255px; */
  height: 213px;
  position: relative;
  margin: 10px;
}

.equalizer-img {
  width: 100%;
  height: auto;
  position: relative;
  /* bottom: -37px; */
  bottom: -49px;
}

.vis-circle {
  position: absolute;
  border-radius: 50%;
}

#visualisation {
  width: 100%;
  position: absolute;
  bottom: 0;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 5px;
  overflow: hidden;
}

#visualisation > div {
  position: relative;
  bottom: 0px;
}

#round-visualisation {
  position: absolute;
  width: 4%;
  height: 4%;
  top: 48%;
  left: 48%;
  background: #bf1aee;
  border-radius: 50%;
}

.center-div {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.button-container {
  width: 250px;
}

/* .play-button {
  padding: 5px 20px;
  border-radius: 4px;
  border: 1px solid black;
  margin-top: 20px;
  cursor: pointer;
} */

/* END PLAYER */

.vinyl-disc-section {
  position: absolute;
  width: 70.284rem;
  height: 70.284rem;
  /* bottom: -75px; */
  bottom: -236px;
  z-index: 0;
  transform: rotate(-1.7deg);
}

.vinyl-disc-img {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url('./assets/vinyl_disc_2.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

/* FOOTER */
.section-navbook {
  position: relative;
}

.menu {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10.8rem;
  transform: translateY(19rem);
  z-index: 2;
}

.pages {
  position: absolute;
  display: flex;
  bottom: 15px;
}

.navbook {
  max-width: 80vw;
  width: 100%;
  margin-bottom: 0px;
  margin-left: -2vmin;
  z-index: 2;
  pointer-events: none;
}

.main {
  margin: -3vmin 0 0 5vmin;
  height: 100%;
}

.milestones {
  margin: 1vmin 0 0 -3vmin;
  height: 100%;
  z-index: 1;
}

.stories {
  margin: -4vmin 0 0 -6vmin;
  height: 100%;
}

.gallery {
  margin: 1vmin 0 0 -3vmin;
  height: 100%;
  z-index: 1;
}

.my-granny {
  margin: -4vmin 0 0 -6vmin;
  height: 100%;
}

.remember {
  margin: 1.5vmin 0 0 -4vmin;
  height: 100%;
  z-index: 1;
}

.map {
  margin: -3vmin 0 0 -3vmin;
  height: 100%;
}

.pages img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  width: 12vw;
  transition: transform 0.3s ease-in-out;
  transform: translateY(0rem);
}

.pages img:hover {
  cursor: pointer;
  transform: translateY(-1rem);
}

.menu-active {
  animation: 1.6s ease-out 0.8ms forwards activeMenu;
}

/* PLAYING BUTTONS ANIMATION */

/* Animation keyframes */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Center piece animations */
.animation-active #play-path {
  opacity: 0;
  animation: fadeIn 2s ease-in-out infinite;
}

/* PLAY ANIMATION (START) */
/* .animation-active #petal1 {
  animation: fullCycle 4s 0s infinite;
}
.animation-active #petal2 {
  animation: fullCycle 4s 0.1s infinite;
}
.animation-active #petal3 {
  animation: fullCycle 4s 0.2s infinite;
}
.animation-active .petal4 {
  animation: fullCycle 4s 0.3s infinite;
}
.animation-active #petal5 {
  animation: fullCycle 4s 0.4s infinite;
}
.animation-active #petal6 {
  animation: fullCycle 4s 0.5s infinite;
}
.animation-active #petal7 {
  animation: fullCycle 4s 0.6s infinite;
}
.animation-active #petal8 {
  animation: fullCycle 4s 0.7s infinite;
}
.animation-active #petal9 {
  animation: fullCycle 4s 0.8s infinite;
}
.animation-active #petal10 {
  animation: fullCycle 4s 0.9s infinite;
}
.animation-active #petal11 {
  animation: fullCycle 4s 1s infinite;
}
.animation-active #petal12 {
  animation: fullCycle 4s 1.1s infinite;
}
.animation-active #petal13 {
  animation: fullCycle 4s 1.2s infinite;
}
.animation-active #petal14 {
  animation: fullCycle 4s 1.3s infinite;
}
.animation-active #petal15 {
  animation: fullCycle 4s 1.4s infinite;
}
.animation-active #petal16 {
  animation: fullCycle 4s 1.5s infinite;
} */

#petal1.animate {
  animation: fullCycle 4s 0s infinite;
}
#petal2.animate {
  animation: fullCycle 4s 0.1s infinite;
}
#petal3.animate {
  animation: fullCycle 4s 0.2s infinite;
}
/* .petal4.animate {
  animation: fullCycle 4s 0.3s infinite;
} */
#petal4.animate {
  animation: fullCycle 4s 0.3s infinite;
}
#petal5.animate {
  animation: fullCycle 4s 0.4s infinite;
}
#petal6.animate {
  animation: fullCycle 4s 0.5s infinite;
}
#petal7.animate {
  animation: fullCycle 4s 0.6s infinite;
}
#petal8.animate {
  animation: fullCycle 4s 0.7s infinite;
}
#petal9.animate {
  animation: fullCycle 4s 0.8s infinite;
}
#petal10.animate {
  animation: fullCycle 4s 0.9s infinite;
}
#petal11.animate {
  animation: fullCycle 4s 1s infinite;
}
#petal12.animate {
  animation: fullCycle 4s 1.1s infinite;
}
#petal13.animate {
  animation: fullCycle 4s 1.2s infinite;
}
#petal14.animate {
  animation: fullCycle 4s 1.3s infinite;
}
#petal15.animate {
  animation: fullCycle 4s 1.4s infinite;
}
#petal16.animate {
  animation: fullCycle 4s 1.5s infinite;
}

@keyframes fullCycle {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  2% {
    opacity: 0;
  }

  5% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(0.5);
    opacity: 0;
  }
  53% {
    opacity: 0;
  }
  60% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* PLAY ANIMATION  (STOP) */

@keyframes activeMenu {
  from {
    transform: translateY(19rem);
  }
  to {
    transform: translateY(0);
  }
}

@media only screen and (min-width: 1367px) {
  .navbook {
    max-width: 1196px;
  }

  .pages .main {
    width: 196px;
    margin-left: 0rem;
    margin-top: 1.375rem;
  }

  .pages .milestones {
    width: 194px;
    margin-left: -55px;
    margin-top: 5.25rem;
  }

  .pages .stories {
    width: 187px;
    margin-left: -90px;
    margin-top: 0.4rem;
  }

  .pages .gallery {
    width: 215px;
    margin-top: 5.25rem;
    margin-left: -60px;
  }

  .pages .my-granny {
    width: 223px;
    margin-left: -120px;
    margin-top: 0.4rem;
  }

  .pages .remember {
    width: 207px;
    margin-top: 5.813rem;
    margin-left: -70px;
  }

  .pages .map {
    width: 183px;
    margin-top: 2.313rem;
    margin-left: -50px;
  }
}
