@font-face {
  font-family: 'MADE Likes Slab';
  src: url('assets/font/MADE-Likes-Slab.otf');
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html,
body {
  overflow-x: hidden;
  height: 100%;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  background-color: #f7e2cc;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  overflow: hidden;
}

body .loader img {
  height: 16rem;
  width: 16rem;
}

body {
  background-color: #f7e2cc;
  color: #000000;
  font-family: 'MADE Likes Slab';
}

main {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./assets/bg.webp');
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0px 50px;
  overflow: hidden;
}

.nanas-words-section img {
  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  transition: opacity 0.5s ease-in-out;
  opacity: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.nanas-words-section {
  position: relative;
  width: 78.455rem;
}

.hero-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.language-container {
  display: flex;
  justify-content: flex-end;
  height: 4.188rem;
  margin-top: 2rem;
}

.language-selector {
  position: relative;
  width: 6.813rem;
  align-self: flex-end;
  /* margin-right: 1rem; */
  margin-right: 7rem;
  margin-bottom: 1.25rem;
  cursor: pointer;
  transition: none;
  pointer-events: auto !important;
  z-index: 2;
}

.vinyl-section {
  position: relative;
  width: 78.455rem;
  height: 74.419rem;
  z-index: 1;
}

.vinyl-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url('./assets/vinyl_ru.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.vinyl-img:lang(en) {
  background-image: url('./assets/vinyl_eng.webp');
}

.playing-widget {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* width: 988px; */
  width: 1023.45px;
}

.playing-widget-container {
  width: 423.45px;
  height: 551.24px;
}

.animation-playing-active {
  display: flex;
}

.animation-playing-desactive {
  display: none;
}

.playing-img,
.playing-video {
  position: relative;
  /* top: 20px; */
  /*  top: -18px;
  left: 50px; */
}
.playing-video {
  width: 439px;
  top: -26px;
  /* left: 41px; */
  left: 47px;
  transform: rotate(-3.3deg);
  transition: 2s ease-in-out;
}

.playing-img {
  /*  width: 415.64px; */
  width: 435px;
  /*  top: -18px; */
  top: -16px;
  /* left: 50px; */
  /*  left: 67px; */
  left: 53px;
  transform: rotate(-1deg);
  transition: 2s ease-in-out;
  /*  left: 50px; */
}

/* PLAYER CSS */
.playing-tools {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 20px;
  /* margin-bottom: 1.6rem; */
  margin-bottom: 1.9rem;
  max-width: 600px;
  width: 31.749rem;
  transform: rotate(-2deg);
  right: -85px;
}

.playing-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.25rem;
}

.playing-button {
  background-color: transparent;
  border: none;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  transition: transform 0.3s;
}

.playing-button:hover:not(:disabled) {
  transform: scale(1.03);
}

.play {
  width: 10.83rem;
  height: 10.824rem;
}

.stop {
  width: 10.668rem;
  height: 10.665rem;
}

.pause {
  width: 10.824rem;
  height: 10.827rem;
}

@keyframes reappear {
  0% {
    transform: scale(0.4);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes disappear {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.4);
  }
}

/* If you change these numbers, you need to update CONFIG.PAUSE_ANIMATION_LENGTH (which is the sum of both incoming and outgoing animation) */
.pause-animation-active .pause-petal {
  animation: disappear 0.2s ease-out forwards,
    reappear 0.3s 0.2s ease-in forwards;
}

.stop-animation-active .petal-stop {
  animation: disappear 0.2s ease-out forwards,
    reappear 0.3s 0.2s ease-in forwards;
}

/* IMPORTANT: if you change the time of the animation here, you must update totalStopAnimationTime in audio.js */
/* .stop-animation-active #petal-stop-1 {
  animation: disappear 0.08s 0s forwards, reappear 0.15s 0.83s forwards;
}

.stop-animation-active #petal-stop-2 {
  animation: disappear 0.08s 0.05s forwards, reappear 0.15s 0.88s forwards;
}

.stop-animation-active #petal-stop-3 {
  animation: disappear 0.08s 0.1s forwards, reappear 0.15s 0.93s forwards;
}

.stop-animation-active #petal-stop-4 {
  animation: disappear 0.08s 0.15s forwards, reappear 0.15s 0.98s forwards;
}

.stop-animation-active #petal-stop-5 {
  animation: disappear 0.08s 0.2s forwards, reappear 0.15s 1.03s forwards;
}

.stop-animation-active #petal-stop-6 {
  animation: disappear 0.08s 0.25s forwards, reappear 0.15s 1.08s forwards;
}

.stop-animation-active #petal-stop-7 {
  animation: disappear 0.08s 0.3s forwards, reappear 0.15s 1.13s forwards;
}

.stop-animation-active #petal-stop-8 {
  animation: disappear 0.08s 0.35s forwards, reappear 0.15s 1.18s forwards;
}

.stop-animation-active #petal-stop-9 {
  animation: disappear 0.08s 0.4s forwards, reappear 0.15s 1.23s forwards;
}

.stop-animation-active #petal-stop-10 {
  animation: disappear 0.08s 0.45s forwards, reappear 0.15s 1.28s forwards;
}

.stop-animation-active #petal-stop-11 {
  animation: disappear 0.08s 0.5s forwards, reappear 0.15s 1.33s forwards;
}

.stop-animation-active #petal-stop-12 {
  animation: disappear 0.08s 0.55s forwards, reappear 0.15s 1.38s forwards;
}

.stop-animation-active #petal-stop-13 {
  animation: disappear 0.08s 0.6s forwards, reappear 0.15s 1.43s forwards;
}

.stop-animation-active #petal-stop-14 {
  animation: disappear 0.08s 0.65s forwards, reappear 0.15s 1.48s forwards;
}

.stop-animation-active #petal-stop-15 {
  animation: disappear 0.08s 0.7s forwards, reappear 0.15s 1.53s forwards;
}

.stop-animation-active #petal-stop-16 {
  animation: disappear 0.08s 0.75s forwards, reappear 0.15s 1.58s forwards;
} */

/* .play-icon,
.stop-icon,
.pause-icon {
  fill: #1d1d1d;
  transform-origin: center;
} */
.icon path:not(.play-circle) {
  fill: #1d1d1d;
  transform-origin: center;
}

button:disabled {
  cursor: not-allowed;
}

audio {
  display: none;
  opacity: 0.75;
}

#div-player-container {
  overflow: hidden;
}

#div-eq-container {
  /*  height: 255px; */
  height: 213px;
  position: relative;
  margin: 10px;
}

.equalizer-img {
  width: 100%;
  height: auto;
  position: relative;
  /* bottom: -37px; */
  bottom: -49px;
}

.vis-circle {
  position: absolute;
  border-radius: 50%;
}

#visualisation {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 0;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 5px;
  overflow: hidden;
}

#visualisation > div {
  position: relative;
  bottom: 0px;
}

#round-visualisation {
  position: absolute;
  width: 4%;
  height: 4%;
  top: 48%;
  left: 48%;
  background: #bf1aee;
  border-radius: 50%;
}

.center-div {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.button-container {
  width: 250px;
}

/* .play-button {
  padding: 5px 20px;
  border-radius: 4px;
  border: 1px solid black;
  margin-top: 20px;
  cursor: pointer;
} */

/* END PLAYER */

.vinyl-disc-section {
  position: absolute;
  width: 70.284rem;
  height: 70.284rem;
  /* bottom: -75px; */
  bottom: -236px;
  z-index: 0;
  transform: rotate(-1.7deg);
}

.vinyl-disc-img {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url('./assets/vinyl_disc_2.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

/* FOOTER */
.section-navbook {
  position: relative;
}

.menu {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10.8rem;
  transform: translateY(19rem);
  z-index: 2;
}

.pages {
  position: absolute;
  display: flex;
  bottom: 15px;
}

.navbook {
  max-width: 80vw;
  width: 100%;
  margin-bottom: 0px;
  margin-left: -2vmin;
  z-index: 2;
  pointer-events: none;
}

.main {
  margin: -3vmin 0 0 5vmin;
  height: 100%;
}

.milestones {
  margin: 1vmin 0 0 -3vmin;
  height: 100%;
  z-index: 1;
}

.stories {
  margin: -4vmin 0 0 -6vmin;
  height: 100%;
}

.gallery {
  margin: 1vmin 0 0 -3vmin;
  height: 100%;
  z-index: 1;
}

.my-granny {
  margin: -4vmin 0 0 -6vmin;
  height: 100%;
}

.remember {
  margin: 1.5vmin 0 0 -4vmin;
  height: 100%;
  z-index: 1;
}

.map {
  margin: -3vmin 0 0 -3vmin;
  height: 100%;
}

.pages img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  width: 12vw;
  transition: transform 0.3s ease-in-out;
  transform: translateY(0rem);
}

.pages img:hover {
  cursor: pointer;
  transform: translateY(-1rem);
}

.menu-active {
  animation: 1.6s ease-out 0.8ms forwards activeMenu;
}

/* PLAYING BUTTONS ANIMATION */

/* Animation keyframes */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes activeMenu {
  from {
    transform: translateY(19rem);
  }
  to {
    transform: translateY(0);
  }
}

@media only screen and (min-width: 1367px) {
  .navbook {
    max-width: 1196px;
  }

  .pages .main {
    width: 196px;
    margin-left: 0rem;
    margin-top: 1.375rem;
  }

  .pages .milestones {
    width: 194px;
    margin-left: -55px;
    margin-top: 5.25rem;
  }

  .pages .stories {
    width: 187px;
    margin-left: -90px;
    margin-top: 0.4rem;
  }

  .pages .gallery {
    width: 215px;
    margin-top: 5.25rem;
    margin-left: -60px;
  }

  .pages .my-granny {
    width: 223px;
    margin-left: -120px;
    margin-top: 0.4rem;
  }

  .pages .remember {
    width: 207px;
    margin-top: 5.813rem;
    margin-left: -70px;
  }

  .pages .map {
    width: 183px;
    margin-top: 2.313rem;
    margin-left: -50px;
  }
}
