@media only screen and (max-width: 800px) {
  main {
    padding: 0rem;
    /* background-color: #f7e2cc;
    background-image: none; */
  }

  .nanas-words-section {
    width: 100%;
    max-width: 50rem;
  }

  .language-container {
    height: auto;
    margin-top: 2vmin;
    z-index: 2;
  }

  .language-selector {
    width: 79px;
    right: 60px;
    margin-right: 0rem;
  }

  .vinyl-section {
    position: relative;
    width: 100vw;
    height: 203vmin;
    top: calc((2vmin + 31.88px + 1.25rem) * -1);
  }

  .vinyl-img {
    background-image: url('./assets/vinyl_cover_ru.webp');
  }

  .vinyl-img:lang(en) {
    background-image: url('./assets/vinyl_cover_eng.webp');
  }

  .playing-widget {
    flex-direction: column;
    align-items: center;
    width: 100%;
    /*  margin-top: 3.5vmax; */
    /* margin-top: 9.5vmax; */
    margin-top: 10.5vmin;
  }

  .playing-widget-container {
    /* width: 61vmin; */
    height: 100%;
    display: grid;
    place-content: center;
  }

  .playing-img,
  .playing-video {
    /* width: 68vmin; */
    width: 61vmin;
    height: 100%;
    top: 0rem;
    left: 0rem;
  }
  .playing-video {
    transform: rotate(-3.4deg);
  }

  .playing-img {
    transform: rotate(0deg);
  }

  .playing-tools {
    width: 72%;
    transform: rotate(0deg);
    right: 0rem;
    gap: 2vmin;
    margin-bottom: 0px;
    padding-top: 4.4vmin;
  }

  .playing-container {
    justify-content: center;
    gap: 2vmin;
  }

  .play,
  .pause,
  .stop {
    width: 20vmin;
    height: 100%;
  }

  #div-eq-container {
    height: 23vmin;
    /*  height: 14vmax; */
    margin: 0px;
  }

  .equalizer-img {
    width: 70vmin;
    bottom: -2vmin;
  }

  #visualisation {
    /* gap: 2vmin; */
    gap: 0.4vmin;
  }

  .vinyl-disc-section {
    transform: rotate(0deg);
    top: 159vmin;
    bottom: 0;
    height: auto;
  }

  .vinyl-disc-img {
    background-image: url('./assets/vinyl_disc_m2.webp');
  }

  /* FOOTER */

  .menu {
    width: 100%;
    /*  margin-top: 31vmin; */
    margin-top: 14vmin;
  }

  .pages {
    margin-left: -5vmin;
    bottom: 4px;
    /* bottom: -21px; */
  }

  .navbook {
    max-width: 110vmin;
    width: 110vmin;
    margin-left: -9vmin;
  }

  .pages img {
    width: 18vmin;
    height: 100%;
    transition: transform 0.3s ease-in-out;
  }

  .pages img:hover {
    width: 18vmin;
  }
}

@media only screen and (max-width: 278px) {
  .vinyl-disc-section {
    top: 136vmin;
  }
}

@media only screen and (orientation: landscape) and (max-width: 278px) {
  .vinyl-disc-section {
    top: 136vmax;
  }
}

@media only screen and (orientation: landscape) and (max-width: 800px) {
  .language-container {
    margin-top: 2vmax;
  }

  .vinyl-section {
    height: 203vmax;
    top: calc((2vmax + 31.88px + 1.25rem) * -1);
  }

  .playing-img,
  .playing-video {
    width: 61vmax;
  }

  .playing-widget {
    margin-top: 10.5vmax;
  }

  .playing-container {
    gap: 2vmax;
  }

  .playing-tools {
    gap: 2vmax;
    padding-top: 4.4vmax;
  }

  .play,
  .pause,
  .stop {
    width: 20vmax;
  }

  #div-eq-container {
    /*  height: 31vmax; */
    height: 23.3vmax;
    /* height: 14vmax; */
  }
  #visualisation {
    /* gap: 2vmin; */
    gap: 0.4vmax;
  }

  .equalizer-img {
    width: 70vmax;
    bottom: -2vmax;
  }

  .vinyl-disc-section {
    top: 159vmax;
  }

  .menu {
    margin-top: 14vmax;
  }

  .pages {
    margin-left: -5vmax;
  }

  .navbook {
    max-width: 110vmax;
    width: 110vmax;
    margin-left: -9vmax;
  }

  .pages img {
    width: 18vmax;
  }

  .pages img:hover {
    width: 18vmax;
  }

  .main {
    margin: -3vmax 0 0 5vmax;
  }

  .milestones {
    margin: 1vmax 0 0 -3vmax;
  }

  .stories {
    margin: -4vmax 0 0 -6vmax;
  }

  .gallery {
    margin: 1vmax 0 0 -3vmax;
  }

  .my-granny {
    margin: -4vmax 0 0 -6vmax;
  }

  .remember {
    margin: 1.5vmax 0 0 -4vmax;
  }

  .map {
    margin: -3vmax 0 0 -3vmax;
  }
}
