@media only screen and (max-width: 800px) {
  main {
    padding: 0rem;
    /* background-color: #f7e2cc;
    background-image: none; */
  }

  .nanas-words-section {
    width: 100%;
    max-width: 50rem;
  }

  .language-container {
    height: auto;
    margin-top: 2vmin;
    z-index: 2;
  }

  .language-selector {
    width: 79px;
    right: 60px;
    margin-right: 0rem;
  }

  .vinyl-section {
    position: relative;
    /*  top: -17vmin; */
    /* width: 100vmin; */
    /* width: 100%;
    height: 100vmax; */
    width: 100vw;
    /* height: 100vh; */
    /* height: 200vmax; */
    /*  height: 220vmin; */
    height: 203vmin;
    border: 1px solid orange;
    top: -7.7vmax;
  }

  .vinyl-img {
    background-image: url('./assets/vinyl_cover_ru.webp');
  }

  .vinyl-img:lang(en) {
    background-image: url('./assets/vinyl_cover_eng.webp');
  }

  .playing-widget {
    flex-direction: column;
    align-items: center;
    width: 100%;
    /*  margin-top: 27vmin; */
    /* margin-top: 25vmax; */
    /* margin-top: 6vmax; */
    margin-top: 2vmax;
  }

  .playing-img {
    /* width: 68vmin; */
    width: 61vmin;
    height: 100%;
    top: 0rem;
    left: 0rem;
    transform: rotate(0deg);
  }

  .playing-tools {
    /* max-width: 100vmin; */
    /* width: 100%; */
    /* max-width: 72vmin; */
    width: 72%;
    transform: rotate(0deg);
    right: 0rem;
    /*  margin-bottom: 36vmax; */
  }

  .playing-container {
    justify-content: center;
    gap: 2vmin;
  }

  .play,
  .pause,
  .stop {
    width: 20vmin;
    height: 100%;
  }

  #div-eq-container {
    /*  height: 180px; */
    /*  height: 13vmax; */
    height: 130px;
  }

  .vinyl-disc-section {
    transform: rotate(0deg);
    top: 159vmin;
    bottom: 0;
    height: auto;
  }

  .vinyl-disc-img {
    background-image: url('./assets/vinyl_disc_m2.webp');
  }

  /* FOOTER */
  .section-navbook {
    border: 1px solid blue;
  }
  .menu {
    width: 100%;
    /*  margin-top: 31vmin; */
    margin-top: 14vmin;
  }

  .pages {
    margin-left: -5vmin;
    bottom: 4px;
    /* bottom: -21px; */
  }

  .navbook {
    max-width: 110vmin;
    width: 110vmin;
    margin-left: -9vmin;
  }

  .pages img {
    width: 18vmin;
    height: 100%;
    transition: transform 0.3s ease-in-out;
  }

  .pages img:hover {
    width: 18vmin;
  }
}
