@media only screen and (min-width: 801px) and (max-width: 1366px) {
  .language-selector {
    margin-right: 6rem;
  }

  .nanas-words-section {
    max-width: 78.398rem;
  }
  .vinyl-section {
    width: 78.398rem;
    height: 74.353rem;
  }

  .vinyl-disc-section {
    width: 70.233rem;
    height: 70.233rem;
    /* bottom: -140px; */
    /*  bottom: -298px; */
    bottom: -293px;
    transform: rotate(0deg);
  }

  .play {
    width: 10.822rem;
    height: 10.816rem;
  }

  .stop {
    width: 10.66rem;
    height: 10.658rem;
  }

  .pause {
    width: 10.824rem;
    height: 10.826rem;
  }

  .menu {
    margin-top: 5.8rem;
  }
}

@media only screen and (max-width: 1300px) {
  /* .vinyl-disc-section {
    bottom: -170px;
  } */
}

@media only screen and (max-width: 1120px) {
  .nanas-words-section {
    max-width: 60.279rem;
  }

  .vinyl-section {
    /*  width: 64.279rem;
    height: 60.963rem; */
    width: 60.279rem;
    height: 57.169rem;
  }

  .playing-widget {
    /* width: 843px; */
    width: 794px;
  }

  .playing-img {
    /* width: 21.299rem;
    height: 27.888rem; */
    /*  width: 19.299rem;
    height: 25.269rem; */
    width: 20rem;
    height: 26.187rem;
  }

  .playing-tools {
    /* max-width: 26.031rem; */
    max-width: 24.8rem;
  }

  .play {
    /*  width: 8.873rem;
    height: 8.869rem; */
    width: 7.873rem;
    height: 7.869rem;
  }

  .stop {
    /* width: 8.74rem;
    height: 8.738rem; */
    width: 7.74rem;
    height: 7.738rem;
  }

  .pause {
    /* width: 8.874rem;
    height: 8.876rem; */
    width: 7.874rem;
    height: 7.876rem;
  }

  #div-eq-container {
    height: 156px;
  }

  .menu {
    margin-top: 9.8rem;
  }
}
